.split-screen-heading {
  font-size: 1.7em !important;
  font-weight: bold !important;
}

.split-screen-byline {
  width: 35%;
  font-size: 1.1em !important;
}

.split-screen-text {
  width: 30%;
  text-align: center;
  font-size: 0.8em !important;
}

.split-screen-img {
  width: 35%;
}

.split-screen-img img {
  border-radius: 8% !important;
}

.split-screen-list li {
  font-size: 0.8em;
  margin:0 0 40px 0;
}

.split-screen-list li::before {
  color: #FF5600 !important;
  background-color: white !important;
}